<div class="main w-50 m-auto">
  <h1>Edit Group</h1>
  <%= form_for @group, url: group_path, method: :patch do |f| %>
    <%= render partial: 'form', locals: {f: f, post: @group} %> <br>
    <%= f.submit "Update",class: 'btn btn-primary' %> <br><br>
  <% end %>
</div>
