<div class="main w-50 m-auto">
  <h1>Create Group</h1>
  <%= form_for @group, url: groups_path, method: :post do |f| %>
    <%= render partial: 'form', locals: {f: f, post: @group} %> <br>
    <%= f.submit "Save",class: 'btn btn-primary', style:'margin-buttom: 10px;' %><br><br>
  <% end %>
</div>